*.debrc
*.index
*.jssn
*.ssn
*.db
*.lnk
*.log
*.out
*.txt
*.bak
Makefile
exclude_files

# Resources
test_*/
!requirements.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# Distribution / packaging
build/
dist/
lib/
lib64/
*.egg-info/
*.egg
