*.jssn
*.ssn
*.db
*.lnk
*.pptx
*.docx
*.xlsx
*.bat
*.cmd
*.l
*.log
*.txt
Makefile
exclude_files
c/
doc/
etc/
icon*/
test*/
vclip/
wx*/
!Lib/mwx/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
lib/
lib64/
*.egg-info/
*.egg
