*.jssn
*.ssn
*.db
*.l
*.txt
*.lnk

Makefile
exclude_files
c/
doc/
etc/
bin/
Scripts/
demo-test/
icon*/
test*/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
lib/
lib64/
*.egg-info/
*.egg
MANIFEST
